<h3>New Bookmark</h3>

<%= form_for [@topic, @bookmark] do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Save" %>
<% end %>
